<p>まず、トランザクションの流れの全体像を説明します。</p>
<p>ノードは電子署名を記述することで、トランザクショを発行することができます。</p>
<p>ノードがトランザクションを発行すると、自分と接続されているノードにトランザクションデータを送ります。</p>
<p>トランザクションデータを受け取ったノードは、トランザクションの形式が正しいかを検証します。</p>
<p>トランザクションの検証は電子署名が正しいかなど数十のチェック項目を確認し、問題なければトランザクションデータを受け入れます。</p>
<p>トランザクションデータを受け入れたノードはさらに他のノードへとトランザクションを伝播します。</p>
<p>このプロセスを繰り返していくことで、ネットワークに接続されているほぼ全てのノードに数秒でトランザクションが伝播することになります。</p>
<p>こうしてトランザクションがネットワークに伝播することで、ノードがビットコインの所有権を別の人に渡したということが伝ってきます。</p>


<h1>トランザクションとは</h1>
<p>生成</p>
<p>伝播・承認</p>
<p>ブロックに追加</p>
<p>マイニング</p>
<p>ブロックチェーンに追加</p>
