<div class="p-4r document-container">
    <header>
        <nav *ngIf="isAdmin$() | async as result">
            <a routerLink="/admin/documents/{{document.id}}">編集</a>
        </nav>
        <h1>{{document?.title}}</h1>
    </header>
    <div *ngIf="document.thumbnailUrl" class="d-flex justify-content-center mb-50px">
        <img class="thumbnail-img"
             [src]="document.thumbnailUrl">
    </div>
    <div class="memo-document my-6r" [innerHTML]="sanitizedContent"></div>
    <div class="b-30px position-sticky d-flex justify-content-end">
        <div class="mr-30px" *ngIf="document.id">
            <app-document-feed-backs [selectedColor]="selectedColor" [color]="color"
                                     [documentId]="document.id"></app-document-feed-backs>
        </div>
    </div>
</div>

