<p>まず理解する必要があるのが、変数を宣言すると変数が生成され、リテラルで値を記述すると値が生成されることです。</p>
<p>変数には変数のデータを保持するアドレスがあり、リテラルで生成された値にはリテラルで生成された値を保持するアドレスが存在します。</p>
<p>そして、変数に代入するということは、変数にリテラルで生成された実態への参照を代入する事になります。</p>
<a href="https://stackoverflow.com/questions/373419/whats-the-difference-between-passing-by-reference-vs-passing-by-value">参考</a>
<img src="../../../../assets/1908/参照渡し/literal.png">
<p>リテラルで生成される値にはプリミティブ型とObject型があり、Object型は生成のたびに新しいObjectを作成します。</p>
<p>プリミティヴ型は、同じ値であれば同じメモリ領域を参照します。</p>
<h2>Primitive型とは</h2>
<p>以下のタイプがPrimitiveです。</p>
<ul>
    <li>Boolean</li>
    <li>Null</li>
    <li>Undefined</li>
    <li>Number</li>
    <li>BigInt</li>
    <li>String</li>
    <li>Symbol</li>
</ul>
<h2>Object型</h2>
<p>Primitive型以外はObject型です。</p>
<p>Array, Function なども全てObject型です</p>
<h2>参照のイメージ図</h2>
<h3>初期化</h3>
<img src="../../../../assets/1908/参照渡し/1.png">
<h3>a = 2</h3>
<img src="../../../../assets/1908/参照渡し/2.png">
<h3>b = {{"{"}}b: 2{{"}"}}</h3>
<img src="../../../../assets/1908/参照渡し/3.png">
<h3>b.b = 3 </h3>
<img src="../../../../assets/1908/参照渡し/4.png">
