.thumbnail-img {
  max-width: 100%;
  object-fit: cover;
  padding-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin: 2.5rem 0rem;
}

.memo-document ::ng-deep {

  h2, h3, h4, h5, h6 {
    margin: 2rem 0;
    padding: 0.5rem 0;
  }

  h2 {
    &::first-letter {
      font-size: 2rem;
      color: #23b3ff; /*primary*/
    }

    padding: 0.5rem;
    border-left: #23b3ff 8px solid;
    font-size: 1.5rem;

    background-color: #f0f0f0;
  }

  h3 {
    &::before {
      content: '◆';
      margin-right: 0.5rem;
      color: #23b3ff;
      font-size: 2rem;
    }

    font-size: 1.6rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  img {
    max-width: 100%;
    margin: 1.5rem auto;
    object-fit: cover;
  }

}

/* p tag design */
/* コンテンツの図 */
/* 画像アップロードUIの修正 */
