<h1>プログラムで開いたファイルはなぜクローズしなければならないのか</h1>
<p>プログラムで開いたファイルは必ず明示的にCloseする必要があると言われます。</p>
<p>プログラムが終了すると自動的にファイルはクローズするのですが、なぜ明示的に閉じる事が必要なのでしょうか。</p>
<p>今回はその理由について書きます。</p>
<h2>そもそもファイルを開く時、閉じる時に何が起こるか</h2>
<p>OSの仕組みやプログラミング言語によって異なる場合がありますが、ファイルを開くときプログラムは次のことをします</p>
<ul>
    <li>ファイルリソースの確保(他のプログラムからアクセスされないようにする)</li>
    <li>メインメモリへファイルの内容を読み込む</li>
</ul>
<p>そして、ファイルを閉じる時プログラムは以下のことをします。</p>
<ul>
    <li>ファイルリソースの解放</li>
    <li>ファイルデータのメモリの解放</li>
    <li>ファイルへの変更のコミット</li>
</ul>
<p>以上のことをまず念頭に起きましょう。</p>
<h2>ファイルが閉じるタイミング</h2>
<p>ファイルが明示的に閉じれない場合、ガベージコレクションがファイルを閉じることになります。</p>
<p>ガベージコレクションとは、プログラムが今後特定のリソース(変数に格納された値など)が不要になった場合に自動的にメモリ解放する仕組みです。</p>
<p>ガベージコレクションは、プログラムのスタック、変数テーブルなどからメモリが使用されているかどうかを判断します。</p>
<p>また、プログラムが何らかの理由で終了した場合もファイルは閉じることになります。</p>
<h2>ガベージコレクションが必ずしもファイルを閉じてくれるとは限らない</h2>
<p>エラーによって処理が中断した場合、意図せずにメモリへの参照が残っていた場合など、ガベージコレクションがファイルのメモリを解放してくれるとは限りません。</p>
<p>その場合、無駄に開いたファイル分メモリが圧迫されます。ファイルは内容によっては数百メガバイトなどの容量があるので、パフォーマンスに大きな影響を与える可能性があります。</p>
<h2>プロセスがすぐに終了しない場合かつなんどもファイルを開く場合にメモリを圧迫する</h2>
<p>短いプログラムなら良いのですが、ウェブサーバーのように継続して起動して複数人から呼び出されるプロセスの場合、ファイルをメモリ領域に保持するとすぐさまメモリを食いつぶしてしまうかもしれません。</p>
<p>明示的にファイルを閉じ、メモリリークを防ぐようにしましょう。</p>


<a href="https://stackoverflow.com/questions/16311232/how-to-pipe-an-http-response-to-a-file-in-go/16311368#16311368">
    StackOverflow</a>says that
