<h1>イントロダクション</h1>
<h2>このコースで学べる事</h2>

<p>ビットコイン中級コースでは、ビットコインの仕組みを学びます。<p>
<p>今、新しい技術として注目されているブロックチェーンですが、ブロックチェーンはビットコインを機能させるための技術として誕生しました。</p>
<p>そのため、ビットコインを学ぶ事はブロックチェーンを理解する事にも繋がります。</p>
<p>このコースで触れる内容は「ブロックチェーン初級」コースより深い内容ですが、着実に理解していきましょう。</p>


<h3>Point</h3>
<h4>Goal</h4>
<p>ブロックチェーンを正しく理解する</p>
<h4>Why Bitcoin</h4>
<p>Bitcoinをベースに考えられているから</p>
<h5>How</h5>
<p>ビットコインの改善や違うトレードオフを目的として作られているため</p>
<h4>Why In Detail</h4>
<p>技術的な構造を知る事で、問題点を正しく理解するため</p>
<p>セキュリティーの問題、技術の可能性はブロックチェーン技術の構造を知ることで正確に見えてくる</p>
