<h1>暗号技術(Cryptography)の主な用途</h1>
<p>暗号技術には様々な用途で利用されます。</p>
<p>まず1つ目の用途は<b>暗号化(encryption)</b>です。</p>
<p>暗号化は、データ他人に読み取られないように<b>秘密にする</b>技術です。</p>
<p>ウェブ上ではクレジットカード情報などは通常、暗号化され送受信されています。</p>
<p>2つ目は、<b>電子署名(digital signature)</b>です。</p>
<p>電子署名は、「ある秘密情報を明かさずに、その秘密情報を知っていることを証明する」ための技術です。</p>
<p>ビットコインにおいては、秘密鍵情報を隠したままビットコインの所有権を証明するために使います。</p>
<p>3つ目は、<b>デジタル指紋(digital fingerprint)</b>です</p>
<p>デジタル指紋は<b>データが改ざんされていない事を証明する</b>ために利用します</p>
<p>デジタル指紋を用いることで、あるデータが不正なデータに書き換えられているかどうかを確認することができます。</p>

<p>暗号通貨という言葉からは真っ先に「暗号化」のイメージが湧くかもしれませんが、実はビットコインで利用されている技術は、電子署名とデジタル指紋です</p>
<p>ビットコインのネットワーク上でやりとりされるデータは全て「暗号化」はされていません。</p>
<p>「暗号化」せずとも安全な取引ができるのがビットコインの技術なのです。</p>


<p>Cryptography</p>
<div>
  <h1>What is cryptography</h1>
  <ul>
    <li>Three Roles of cryptography</li>
    <li>Bitcoin doesn't use encryption</li>
  </ul>
</div>
