<p>秘密鍵から公開鍵を計算できるが、公開鍵からは秘密鍵を計算できないと説明しました。</p>
<p>このように、一方向の計算しかできない関数を<b>一方向性関数</b>と呼びます。</p>
<p>「ブロックチェーンの基本的な仕組み」で説明したハッシュ関数も一方向性関数です。</p>
<p>そして、一方方向性関数の一つに<b>楕円曲線暗号*</b>というものが存在します。</p>
<p>ビットコインは公開鍵・秘密鍵の生成にこの楕円曲線暗号を利用しています。</p>

<small>
  公開鍵暗号には暗号の強度やデータ量の異なるいくつかのアルゴリズムが存在します。
  <ul>
    <li>RSA(Rivest-Shamir-Adlemean: 素因数分解の困難さを利用)</li>
    <li>DSA(Digital Signature Alogorithm: 離散対数問題を利用)</li>
    <li>ECC(Elliptic Curver Cryptosystem: 楕円曲線における離散対数問題)</li>
  </ul>
  <p>楕円曲線暗号はより少ないバイト数で強い暗号を表現できるため、データサイズを抑えたいビットコインに利用されることになりました。</p>
</small>

<small>
  これまではRSA方式が一般的だったのですが、
</small>


<small>
  *楕円曲線暗号は離散対数問題というものを利用しています。
  一方向性関数の代表的なものの一つが離散対数問題で、楕円曲線暗号は離散対数問題の中でも特殊なものとなっています。
</small>


