<h1>P2Pネットワーク: UTXOの探索</h1>
<p>アリスはキャロルからもらったビットコインを送金したのですが、実はその前に行われているプロセスがあります。</p>
<p>それは、アリス宛に送金された未使用のトランザクションデータ(キャロルからアリスへのトランザクション)をネットワーク上から見つけることです。</p>
<p>この未使用のトランザクションアウトプットを、<b>UTXO(Unused Transaction Output)</b>と呼びます。</p>
<p>トランザクションデータはどこか一つの企業のサーバーではなく、P2Pネットワーク上の端末にコピーされて存在しています。</p>
<p>P2Pネットワークに参加している端末一つ一つを<b>ノード(Node)</b>と呼びます。</p>
<p>アリスのウォレットもP2Pネットワークに参加していて、複数のノードに接続されています。</p>
<p>アリスのウォレットは管理してい暗号鍵の情報を利用し、UTXOを自分と接続されているノード経由で探索します。</p>



<ul>
  <li>ネットワークが構成されていること</li>
  <li>UTXOを探すこと</li>
</ul>
