<h1>事例：ブロックとブロックチェーン</h1>
<p>
    ビットコインネットワーク上に伝播していったアリスのトランザクションですが、
    実はこのトランザクションはまだ永続化したデータとはなっていません。
</p>
<p>トランザクションが改ざん不可能な永続化したデータとなるためには、<b>ブロックチェーン</b>と呼ばれるデータベースに取り込まれる必要があります。</p>
<p>トランザクションがブロックチェーンに取り込まれるには、一旦複数のトランザクションがブロックという単位にまとめられます。</p>
<p>その後、<b>マイニング</b>というプロセスによってブロックはブロックチェーンに追加されます。</p>


<h1>Retrieve Inputs From Network</h1>

<ul>
    <li>need data of inputs</li>
    <li>Full node has a full history of transactions</li>
    <li>SPV node request to the full node from the API</li>
</ul>

