.btn {
  box-shadow: 0 2px 5px 0 black;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}


@import "assets/bootstrap-4.3.1/scss/bootstrap-reboot";
@import "assets/bootstrap-4.3.1/scss/bootstrap-grid";

@import "assets/color-variables";
@import "assets/color-classes";


/* default colors */
html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* bg-color  */

$primary: #0a1a40;

.bg-primary {
  background-color: $primary;
}


/* container */
.memo-container {
  max-width: 800px;
}
